body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#counter-container {
    text-align: center;
}

#counter {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
}

#github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

#github-logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}